<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
    <!-- Meta tag Keywords -->
    <!-- css files -->
    <link rel="stylesheet" href="../static/css/adminStyle.css" type="text/css" media="all" />
    <!--<link rel="stylesheet" href="../static/css/bootstrap.min.css">-->
    <!--<link rel="stylesheet" href="../static/css/font-awesome.min.css">-->
    <!-- Style-CSS -->
    <link href="../static/css/font-awesome.min.css" rel="stylesheet">
    <!-- Font-Awesome-Icons-CSS -->
    <!-- //css files -->
    <!-- web-fonts -->
    <!-- <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese"
     rel="stylesheet"> -->
    <!-- //web-fonts -->
</head>
<body>
    <div class="main-bg">
        <!-- title -->
        <h1>Manage Login Form</h1>
        <!-- //title -->
        <!-- content -->
        <div class="sub-main-w3">
            <div class="bg-content-w3pvt">
                <div class="top-content-style">
                   <img src="../static/images/defaultUser.jpg" alt="管理员头像" />
                </div>
                <form id = "loginForm" action="/admin/loginInfo" method="post" onSubmit="return checkSubmit();">
                    <p class="legend">Login Here<span class="fa fa-hand-o-down"></span></p>
                    <div class="input">
                        <input id = "phone" type="text" placeholder="PhoneNumber" name="phoneNumber" required="" onblur="checkPhone()" />
                        <span class="fa fa-user"></span>
                    </div>
                    <div class="input">
                        <input type="password" placeholder="Password" name="passWord" required />
                        <span class="fa fa-unlock-alt"></span>
                    </div>
                    <p id="msg" class="legend" style="font-size:14px;" th:text="${loginErrorMsg}" ></p>
                    <button type="submit" class="btn submit">
                        <span class="fa fa-sign-in"></span>
                    </button>
                </form>
                <a href="/findPassword" class="bottom-text-w3ls">Forgot Password?</a>
            </div>
        </div>
        <!-- //content -->
        <!-- copyright -->
        <div class="copyright">
            <h2>&copy; 2019 Manage Login Form. All rights reserved | Design by CTGU-QMX-WH
                <!--<a href="#" target="_blank">CTGU-QMX-WH</a>-->
            </h2>
        </div>
    <!-- //copyright -->
    </div>
    <script type="text/javascript">
            var flag = 0;
			function checkPhone(){
				function $(id){
    				return document.getElementById(id);
				}
				var phoneNumber=$("phone");
				var msg=$("msg");
				var reg = /^1(3|4|5|7|8|9)\d{9}$/;
				if (reg.test(phoneNumber.value) != true) {
					msg.innerHTML="电话号码不符合规范！";
					flag = 0;
				}
				else{
					flag = 1;
					msg.innerHTML="";
					return;
				}
			}
			function checkSubmit(){
				if( flag == 1 ){
					return true;
				}
				else{
					alert("信息不正确！");
					return false;
				}
			}
    </script>
</body>

</html>