.pagination {
	padding:5px;
	font-family: '微软雅黑',Arial,Verdana,arial,serif;
}
.pagination ul {
    list-style: none;
    padding-left: 0;
    font-size: 0;
}
.pagination ul li {
    padding: 0 10px;
    vertical-align: bottom;
    display: inline-block;
    font-size: 14px;
    min-width: 36px;
    min-height: 28px;
    line-height: 28px;
    cursor: pointer;
    box-sizing: border-box;
    text-align: center;
    margin-left: -1px;
    color: #606266;
    border: 1px solid #ebebeb;
    height: 30px;
    transition: all .3s;
}
.pagination ul li:hover {
    color: #80bd01;
}
.pagination ul li.totalPage:hover {
    color: #606266;
}
.pagination  li.active {
    color: #80bd01;
}
.pagination li.disabled {
    cursor: not-allowed;
}
.pagination li.disabled:hover {
    color: #ccc;
}
.pagination li.totalPage {
    background: transparent;
    cursor: default;
    border: none;
    padding: 0 6px;
}
 
.pagination li.totalPage:hover {
    transform: none;
    background-color: #ffffff;
}
.pagination li input {
    -webkit-appearance: none;
    background-color: #fff;
    background-image: none;
    border: 0;
    border-bottom: 1px solid #dcdfe6;
    box-sizing: border-box;
    color: #606266;
    display: inline-block;
    font-size: inherit;
    outline: none;
    padding: 3px 5px;
    transition: border-color .2s;
    width: 40px;
    height: 25px;
    margin: 0 6px;
    width: 60px;
}
.pagination li input:focus{
    border-color: #80bd01;
}
.pagination{
    user-select: none;
}
.pagination ul:nth-child(2){
    border-radius: 6px;
}
input[type=number] {
    -moz-appearance:textfield;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}