<!DOCTYPE html>
<html>

<head>
    <title>订单信息管理</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link href="../../static/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="../../static/css/pages.css">
    <script src="../../static/js/Util.js"></script>
    <style type="text/css">
		html,
		body,
		div {
			padding: 0;
			margin: 0;
		}

		html {
			font-family: '微软雅黑', Arial, Verdana, arial, serif;
		}
	</style>
</head>

<body>
<div class="heading">
    <button id="build" type="button" class="btn btn-success" onclick="append()">添加 </button>
    <button id="btnDel" type="button" class="btn btn-danger" onclick="delect('/orders/delOrders?id=')">删除 </button>
    <button id="btnEdit" type="button" class="btn btn-warning">编辑</button>
    <input type="text" id="pharmacyName" placeholder="请输入药店名字进行查询"/>
    <input type="button" value="搜索" class="btn btn-info" onclick="find()" />
    <input type="button" value="刷新" class="btn btn-info" onclick="refresh()" />
    <script type="text/javascript">
        function refresh(){
            window.location.reload();
        }
    </script>
</div>
<!--@*表格*@ -->
<div class="widget-content padded clearfix">
    <form id="form">
        <table id="AddFamily" class="table table-bordered table-striped" width="1000px" border="0" cellspacing="0"
               cellpadding="0" style="margin: 0 auto">
            <thead>
            <th class="check-header hidden-xs">
                <input id="checkAll" name="checkAll" type="checkbox">
            <th style="display:none">id</th>
            <th>员工名字 </th>
            <th>药店名字 </th>
            <th>会员卡号 </th>
            <th>应收金额 </th>
            <th>实收金额 </th>
            <th>此次积分 </th>
            <th>操作</th>
            </thead>
            <tbody id="mainbody">

            </tbody>
        </table>
    </form>
</div>
<div id="pagination" class="pagination"></div>

<script src="../../static/js/jquery-3.3.1.min.js"></script>
<script src="../../static/js/bootstrap.min.js"></script>
<!--<script src="../js/Util.js"></script>-->
<!--@*创建表格*@ -->
<script src="../../static/js/edit.js"></script>
<script src="../../static/js/orders-add.js"></script>
<script src="../../static/js/delect.js"></script>
<script src="../../static/js/pages.js"></script>
<script src="../../static/js/ajax.js"></script>
<script src="../../static/js/submit.js"></script>
<script src="../../static/js/orders-get.js"></script>
<script type="text/javascript">
    function fun(id){
    	return document.getElementById(id);
	}
	function find(){
        var $pharmacyName = fun("pharmacyName");
        var data = {};
		data.pharmacyName = $pharmacyName.value;
	    $.ajax({
            url: "/orders/findOrdersByPharmacyName",
            async : true,
            type: "post",
            contentType:"application/json;charset=utf-8",
            dataType: "json",
            data: JSON.stringify(data),
      	    success: function (data) {
      	        console.log(data);
        	    if(data.pharmacyName != "errorFind"){
        	        alert("查询到如下信息:\r\n "+
	                "ID          :" + data.id + " \r\n " +
	                "员工名字:" + data.staffName + " \r\n " +
	                "药店名字:" + data.pharmacyName + " \r\n " +
	                "会员卡号:" + data.userCardId + " \r\n " +
	                "应收金额:" + data.shouldMoney + " \r\n " +
	                "实收金额:" + data.reallyMoney + " \r\n " +
	                "此次积分:" + data.integral + " \r\n ");
        	     }
        	     else{
        	         alert("查不到订单信息!");
        	     }
        	 },
        	 error: function(XMLHttpRequest, textStatus, errorThrown){
        	    alert("查询失败!");
        	    console.error(XMLHttpRequest);
        	}
        });
	}
</script>

</body>

</html>