<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ctgu.lan.manage.dao.AdminMapper">
  <resultMap id="BaseResultMap" type="com.ctgu.lan.manage.model.Admin">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="phone_number" jdbcType="VARCHAR" property="phoneNumber" />
    <result column="pass_word" jdbcType="VARCHAR" property="passWord" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="age" jdbcType="INTEGER" property="age" />
    <result column="QQ" jdbcType="VARCHAR" property="qq" />
    <result column="avatar" jdbcType="VARCHAR" property="avatar" />
    <result column="last_time" jdbcType="TIMESTAMP" property="lastTime" />
    <result column="sign_time" jdbcType="TIMESTAMP" property="signTime" />
  </resultMap>
  <select id="findAdminByUsernameAndPass" resultType = "com.ctgu.lan.manage.model.Admin">
    select * from admin
    <where>
      <if test="phoneNumber != null">
        phone_number = #{phoneNumber}
      </if>
      <if test="passWord != null">
        and pass_word = #{passWord}
      </if>
    </where>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from admin
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ctgu.lan.manage.model.Admin">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into admin (phone_number, pass_word, `name`, 
      age, QQ, avatar, last_time, 
      sign_time)
    values (#{phoneNumber,jdbcType=VARCHAR}, #{passWord,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{age,jdbcType=INTEGER}, #{qq,jdbcType=VARCHAR}, #{avatar,jdbcType=VARCHAR}, #{lastTime,jdbcType=TIMESTAMP}, 
      #{signTime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.ctgu.lan.manage.model.Admin">
    update admin
    set phone_number = #{phoneNumber,jdbcType=VARCHAR},
      pass_word = #{passWord,jdbcType=VARCHAR},
      `name` = #{name,jdbcType=VARCHAR},
      age = #{age,jdbcType=INTEGER},
      QQ = #{qq,jdbcType=VARCHAR},
      avatar = #{avatar,jdbcType=VARCHAR},
      last_time = #{lastTime,jdbcType=TIMESTAMP},
      sign_time = #{signTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, phone_number, pass_word, `name`, age, QQ, avatar, last_time, sign_time
    from admin
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, phone_number, pass_word, `name`, age, QQ, avatar, last_time, sign_time
    from admin
  </select>
</mapper>