<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ctgu.lan.manage.dao.StaffMapper">
  <resultMap id="BaseResultMap" type="com.ctgu.lan.manage.model.Staff">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="phone_number" jdbcType="VARCHAR" property="phoneNumber" />
    <result column="pharmacy_id" jdbcType="INTEGER" property="pharmacyId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="gender" jdbcType="VARCHAR" property="gender" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="age" jdbcType="INTEGER" property="age" />
    <result column="address" jdbcType="VARCHAR" property="address" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from staff
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ctgu.lan.manage.model.Staff">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into staff (phone_number, pharmacy_id, `name`, 
      gender, `status`, age, 
      address)
    values (#{phoneNumber,jdbcType=VARCHAR}, #{pharmacyId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{gender,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, #{age,jdbcType=INTEGER}, 
      #{address,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.ctgu.lan.manage.model.Staff">
    update staff
    set phone_number = #{phoneNumber,jdbcType=VARCHAR},
      pharmacy_id = #{pharmacyId,jdbcType=INTEGER},
      `name` = #{name,jdbcType=VARCHAR},
      gender = #{gender,jdbcType=VARCHAR},
      `status` = #{status,jdbcType=VARCHAR},
      age = #{age,jdbcType=INTEGER},
      address = #{address,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, phone_number, pharmacy_id, `name`, gender, `status`, age, address
    from staff
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, phone_number, pharmacy_id, `name`, gender, `status`, age, address
    from staff
  </select>
</mapper>