<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ctgu.lan.manage.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.ctgu.lan.manage.model.User">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="card_id" jdbcType="VARCHAR" property="cardId" />
    <result column="phone_number" jdbcType="VARCHAR" property="phoneNumber" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="gender" jdbcType="VARCHAR" property="gender" />
    <result column="status_id" jdbcType="INTEGER" property="statusId" />
    <result column="pharmacy_id" jdbcType="INTEGER" property="pharmacyId" />
    <result column="integral" jdbcType="INTEGER" property="integral" />
    <result column="sign_time" jdbcType="TIMESTAMP" property="signTime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ctgu.lan.manage.model.User">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into user (card_id, phone_number, `name`, 
      gender, status_id, pharmacy_id, 
      integral, sign_time)
    values (#{cardId,jdbcType=VARCHAR}, #{phoneNumber,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{gender,jdbcType=VARCHAR}, #{statusId,jdbcType=INTEGER}, #{pharmacyId,jdbcType=INTEGER}, 
      #{integral,jdbcType=INTEGER}, #{signTime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.ctgu.lan.manage.model.User">
    update user
    set card_id = #{cardId,jdbcType=VARCHAR},
      phone_number = #{phoneNumber,jdbcType=VARCHAR},
      `name` = #{name,jdbcType=VARCHAR},
      gender = #{gender,jdbcType=VARCHAR},
      status_id = #{statusId,jdbcType=INTEGER},
      pharmacy_id = #{pharmacyId,jdbcType=INTEGER},
      integral = #{integral,jdbcType=INTEGER},
      sign_time = #{signTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, card_id, phone_number, `name`, gender, status_id, pharmacy_id, integral, 
    sign_time
    from user
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, card_id, phone_number, `name`, gender, status_id, pharmacy_id, integral, 
    sign_time
    from user
  </select>
</mapper>